{% extends "base.html" %}

{% block content %}
    <h2>Редактирование статьи</h2>
    <form method="post">
        <div>
            <label for="title">Тема:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}" required>
        </div>
        <div>
            <label for="article_text">Текст статьи:</label>
            <textarea id="article_text" name="article_text" required>{{ article.article_text }}</textarea>
        </div>
        <div>
            <button type="submit">Сохранить изменения</button>
        </div>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form>
{% endblock %}
